<!-- <!DOCTYPE html>
<html>
<head>
    <title>Search For Weather Data</title>
</head>
<body>

<h1>Fill Weather Data Form</h1>

<form action="/weatherapp" method="post">
    <label for="city">City:</label>
    <input type="text" id="city" name="city" placeholder="Enter City" required><br><br>

    <label for="apiid">ID   :</label>
    <input type="text" id="apiid" name="apiid" placeholder="Enter API ID" required><br><br>

    <label for="unit">UNIT:</label>
    <input type="text" id="unit" name="unit" placeholder="Enter UNIT MATRICS" required><br><br>

    <input type="submit" value="Submit">
</form>

</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <title>Search Page</title>
    <div class="content">
        <h1 style="text-align: center">Search</h1>
    
        <div class="form">
            <form action="/weather_app" method="POST">
                <label for='city'>enter city: <label>
                <input type="text" name="city" id="city">

                <label for='units'>Enter Units: <label>
                <input type="text" name="units" id="units">
                <label for='appid'>Enter your API KEY: <label>
                <input type="text" name="appid" id="appid">
                <input type="submit" value="Search">
            </form>
        </div>
    </div>
</body>
</html>